/* Bird Animations */
@keyframes leg-wiggle-1 {
  0% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}

@keyframes leg-wiggle-2 {
  0% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

@keyframes wing-wiggle {
  0% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

@keyframes head-rotate {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

@keyframes wing-roast {
  0% {
    transform: rotate(190deg);
  }

  50% {
    transform: rotate(170deg);
  }

  100% {
    transform: rotate(190deg);
  }
}

@keyframes sweat {
  /*cycle 1*/
  0% {
    translate: 0px 0px;
    scale: 1;
    rotate: 0deg;
  }
  25% {
    translate: 100px 100px;
    scale: 0;
    rotate: 0deg;
  }
  /*cycle 2*/
  26% {
    translate: 0px 0px;
    scale: 1;
    rotate: 270deg;
  }
  50% {
    translate: 100px -100px;
    scale: 0;
    rotate: 270deg;
  }
  /*cycle 3*/
  51% {
    translate: 0px 0px;
    scale: 1;
    rotate: 90deg;
  }
  75% {
    translate: -100px 100px;
    scale: 0;
    rotate: 90deg;
  }
  /*cycle 4*/
  76% {
    translate: 0px 0px;
    scale: 1;
    rotate: 135deg;
  }
  100% {
    translate: -100px 0px;
    scale: 0;
    rotate: 135deg;
  }
}

/* Base bird styles */
.bird {
  width: 100px;
  position: absolute;
  transform-style: preserve-3d;
}

.torso {
  position: absolute;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

.head {
  position: absolute;
  transform-origin: bottom center;
}

.leg {
  transform-origin: top;
  position: absolute;
  top: calc(100% - 6px);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 0.3s;
}

.leg-1 {
  left: 50%;
}

.leg-2 {
  left: 40%;
  z-index: -1;
}

.foot {
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-color: inherit;
}

.wing {
  width: 36px;
  height: 20px;
  border-radius: 20px 30px 10px 20px;
  position: absolute;
  left: 40%;
  top: 20%;
  transform-origin: 20% 50%;
}

.beak {
  width: 20px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  left: 0%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.eye {
  width: 10px;
  height: 10px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.head-fill {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: inherit;
}

.sweat {
  position: absolute;
}

.marshmallow-stick {
  width: 60px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 90%;
  top: 50%;
}

.marshmallow {
  width: 10px;
  height: 12px;
  border-radius: 4px;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Sweat component styles */
.sweat-container {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -2;
}

.sweat-item {
  position: absolute;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 0% 100% 100% 100%;
  rotate: 45deg;
}

.sweat-rotator {
  position: absolute;
}

/* HeadPlumage component styles */
.plumage-container-feathers {
  z-index: -1;
  position: absolute;
  bottom: -4px;
  left: 20%;
  width: 120%;
  transform-origin: center left;
  rotate: -20deg;
}

.plumage-feather {
  top: 50%;
  position: absolute;
  height: 8px;
  border-radius: 70% 100% 100% 100%;
  transform-origin: center left;
}

.plumage-container-wrapper {
  position: relative;
}

.plumage-tall {
  z-index: -1;
  position: absolute;
  width: 100%;
  border-radius: 100% 600% 0% 0%;
}
